header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1.25% 0;
    background-color: var(--grey_0);
}
header > p {
    color:#F8F9FA;
}
header > button {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 150%;
    color: var(--grey_5);
    background-color: transparent;
    border: 1px solid var(--grey_5);
    padding: 0.625rem 1.25rem;
    transition: 0.65s;
}
header > button:hover {
    background-color: var(--brand_color_2);
    border: 1px solid var(--brand_color_2);
}
main {
    margin-top: 3.75rem;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey_5);
    background-color: var(--grey_0);
    padding: 1.25% 0;
    width: 100%;
}

#first_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11.25rem 7.8125rem;
    gap: 2.5rem;
}
#first_section > h1 {
    margin: 0 7.5rem;
    text-align: start;
    font-size: 3.25rem;
    color: var(--grey_5);
}
#first_section > p {
    margin: 0 7.5rem;
    text-align: start;
}
#span_highlight {
    color: var(--brand_color_2);
}
#button_aboutUs {
    padding: 0.9375rem 1.25rem;
    background-color: var(--brand_color_1);
    border: none;
    color: #F8F9FA;    
    font-size: 0.875rem;
}

#second_section {
    background-color: var(--grey_0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    gap: 12.5rem;
    padding: 3.75rem 6.25rem;
}
#second_section > h2 {
    width: max-content;
}
#second_section > span > p {
    color: var(--grey_4);
    width: 25rem;
}

#faq_section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 23.125rem;
    padding: 3.75rem 6.25rem;
}
#left_half {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.875rem;
}
#left_half > h2 {
    width: max-content;
}
#left_half > button {
    padding: 1.25rem 1.25rem;
    background-color: var(--brand_color_1);
    color: #F8F9FA;
    border: none;
    font-size: 0.875rem;
    transition: 0.65s;
}
#left_half > button:hover {
    background-color: var(--brand_color_2);
}
#right_half {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}
#right_half > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}
#right_half > span > h3 {
    width: max-content;
}
#statements_section {
    display: flex;
    align-items: flex-start;
    padding: 3.75rem 6.25rem;
    gap: 3.125rem;  
}
.li_divisor {
    display: flex;
    gap: 6.25rem;
    margin-bottom: 1.25rem;
}
.li_divisor > span > h3 {
    width: max-content;
    margin-bottom: 0.9375rem;
}
.li_divisor > span > p {
    width: max-content;
    font-size: 18px;
}
.li_divisor > p {
    color: #F8F9FA;
    font-size: 1.125rem
}
#div_highlight {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.875rem 3.125rem;
    width: 67%;
    height: min-content;
    background-color: var(--brand_color_1);
}
#div_highlight > h2 {
    color: #F8F9FA;
    font-size: 2rem;
}
#div_highlight > p {
    color: var(--grey_5);
    font-size: 1.125rem;
}