header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--grey_0);
}
header > p {
    color:#F8F9FA;
}
header > button {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: var(--grey_5);
    background-color: transparent;
    border: 1px solid var(--grey_5);
    padding: 10px 20px;
}
header > button:hover {
    background-color: var(--brand_color_2);
    border: 1px solid var(--brand_color_2);
}
main {
    margin-top: 60px;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey_5);
    background-color: var(--grey_0);
    height: 60px;
    padding: 20px 0px;
}

#first_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 180px 125px;
    gap: 40px;
}
#first_section > h1 {
    font-size: 52px;
    color: var(--grey_5);
}
#first_section > p {
    text-align: center;
    margin: 0px 120px;
}
#span_highlight {
    color: var(--brand_color_2);
}
#span_aboutUs {
    padding: 15px 20px;
    background-color: var(--brand_color_1);
    color: #F8F9FA;    
    font-size: 14px;
}

#second_section {
    background-color: var(--grey_0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    gap: 200px;
    padding: 60px 100px;
}
#second_section > h2 {
    width: max-content;
}
#second_section > span > p {
    color: var(--grey_4);
    width: 400px;
}

#faq_section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 370px;
    padding: 60px 100px;
}
#left_half {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
#left_half > h2 {
    width: max-content;
}
#left_half > span {
    padding: 20px 20px;
    background-color: var(--brand_color_1);
    color: #F8F9FA;
    font-size: 14px;
}
#right_half {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
#right_half > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#right_half > span > h3 {
    width: max-content;
}
#statements_section {
    display: flex;
    align-items: flex-start;
    padding: 60px 100px;
    gap: 50px;
}
.li_divisor {
    display: flex;
    gap: 100px;
    margin-bottom: 20px;
}
.li_divisor > span > h3 {
    width: max-content;
    margin-bottom: 15px;
}
.li_divisor > span > p {
    width: max-content;
    font-size: 18px;
}
.li_divisor > p {
    color: #F8F9FA;
    font-size: 18px
}
#div_highlight {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 50px;
    width: 67%;
    height: min-content;
    background-color: var(--brand_color_1);
}
#div_highlight > h2 {
    color: #F8F9FA;
    font-size: 32px;
}
#div_highlight > p {
    color: var(--grey_5);
    font-size: 18px;
}

.modal__controller {
    height: min-content;
    width: 30%;
    padding: 10px;
    background-color: var(--grey_1);
    border: 2px solid var(--brand_color_1);
}
.modal__controller::backdrop {
    background-color: var(--background-color);
}
.modal__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 10px 7px;
    gap: 22px;
}
.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.modal__headerText {
    color: #f8f9fa;
    font-size: 16px;
}
.modal__close {
    width: 24px;
    height: 24px;
    background-color: var(--grey_2);
    color: #868E96;
    border: none;
    border-radius: 4%;
}
.modal__close:hover {
    color: #F8F9FA;
    background-color: var(--brand_color_2);
}
.modal__text {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    color: #ced4da;
    text-align: justify;
}
.modal__input {
    width: 97%;
    height: 50px;
    padding: 0px 0px 0px 3%;
    color: var(--grey_3);
    font-size: 16px;
    border: none;
    background-color: var(--grey_0);
}
.modal__input::placeholder {
    color: var(--grey_3);
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}
.modal__send {
    width: 100%;
    height: 50px;
    background-color: var(--brand_color_1);
    color:#f8f9fa;
    font-weight: 600;
    text-align: center;
    border: none;
}
.modal__send:hover {
    background-color: var(--brand_color_2);
}